<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página com Botões</title>
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/admin.css">
</head>
<body>
    <div class="container">
        <div class = "botoes">
            <h1>ADMIN</h1>
            <a href="/postAdmin" class="botao">POSTS</a>
            <a href="/videoAdmin" class="botao">VIDEOS</a>
        </div>
        <a href="/home" class="sair"><img src="/img/image 1.png" class="icone_sair">IR PARA HOME</a>
        <form action="/logout" method="POST" style="margin-top: 1rem;">
            <button type="submit" class="botao">LOGOUT</button>
        </form>
    </div>
    
</body>
</html>