<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=JetBrains+Mono:wght@400;500&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/explicando.css">
    <title>meu_blog</title>
</head>
<body>
    <div class="pagina">
    <header class="cabecalho">
        <canvas id="particles"></canvas>
        <h1 class="page-title">explicando</h1>

        <nav>
            <a href="/home" class="linksNav">home</a>
            <a href="/blog" class="linksNav">meu_blog</a>
            <a href="/explicando" class="linksNav">explicando</a>
            <a href="/portfolio" class="linksNav">portfólio</a>
        </nav>

        <div class ="alinhar">
        <form>
            <!-- <input type="search" name="q" placeholder="Pesquisar..." class="pesquisar"> -->
        </form>
        </div>

    </header>

    <div class="videos">
        <% for (let i = 0; i < videos.length; i++) { %> 
        <div class="video" id="<%=videos[i].id%>">
            <div class="separacaoImagem">
                <img src="<%= videos[i].img %>" alt="Imagem do video">
            </div>  
            <h2><%= videos[i].titulo %></h2>  
        </div>

        <% } %>
     
    </div>

    </div>


    <footer>
        <p class="copyright">2025 | GABRIEL FERREIRA DE CASTRO</p>
    </footer>


    <script src="/js/video.js"></script>
    <script src="/js/particles.js"></script>
</body>
</html>