<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/login.css">
    <title>Login</title>
</head>
<body>

    <div class="formulario">
        <form action="/login" method="post"> 
            <label for="usuario">Usuário</label><br>
            <input type="text" id="usuario" name="usuario" required placeholder="Digite seu usuario..."><br><br>
        
            <label for="senha">Senha</label><br>
            <input type="password" id="senha" name="senha" required placeholder="Digite sua senha..."><br><br>
        
            <button type="submit">Entrar</button>
          </form> 
    </div>
    
</body>
</html>