<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/video_admin.css">
    <title>POSTS Admin</title>
</head>
<body>
    <h1>POSTS</h1>
    
    <div class = "videos">

        <a href="/criarPost" class="sair"><img src="/img/wired-outline-49-plus-circle-hover-rotation.png" class="icone_sair"></a>
        <% for (let i = 0; i < posts.length; i++) { %>
        <div class = "video">
            <p><%=posts[i].titulo%></p>
            <div class = "icones">
                <a href="/postEditar/<%=posts[i].id%>" class="sair"><img src="/img/wired-outline-35-edit-hover-circle.png" class="icone_sair"></a>
                <a  href="#" data-id="<%=posts[i].id%>" class="sair" onclick="deletePost(this,event)"><img src="/img/wired-outline-185-trash-bin-hover-empty.png" class="icone_sair" ></a>
            </div>
        </div>
        <% } %>

    </div>

    <script src="/js/postAdmin.js"></script>
    
</body>
</html>