<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/video.css">
    <title><%= post.titulo %></title>
</head>
<body>
    <header class="cabecalho">
        <h1>explicando</h1>
        <nav>
            <a href="/home" class="linksNav">home</a>
            <a href="/blog" class="linksNav">meu_blog</a>
            <a href="/explicando" class="linksNav">explicando</a>
            <a href="/portfolio" class="linksNav">portfólio</a>
        </nav>
    </header>

    <h1 class="tituloPost"><%= post.titulo %></h1>

    <div class="texto">
        <%- post.conteudo %>
    </div>

    <footer>
        <p class="copyright">2025 | GABRIEL FERREIRA DE CASTRO</p>
    </footer>
</body>
</html>
